@import "tailwindcss";

@theme {
  --color-neon-blue: #00f3ff;
  --color-neon-orange: #ff6b00;
  --color-neon-green: #39ff14;
}

@layer base {
  body {
    @apply bg-gray-900 text-gray-100 m-0 min-h-screen font-sans;
  }
}
